/*
    Top
*/


header{
    text-align: center;
}

header h1{
    display: inline-block;
    margin: 0;
    padding: 1em;
}
header button{
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 33%;
    width: 3em;
    height: 3em;
    padding: 0;
    margin: 0;
}



.github-org-activity{
    width: 100%;
    min-height: 100%;
}


/*
    Users
*/
.github-org-activity .users{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.github-org-activity .users > *{
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.github-org-activity .users button{
    width: 4em;
    height: 4em;
    text-align: center;
    border-radius: 50%;
    border: 0;
    padding: 0;
    margin: 0;
    
    position: relative;
}

.github-org-activity .users button img{
    max-width: 75%;
    max-height: 75%;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
    Viz
*/
.repos{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 80vh;
}

.repo-events{
    max-width: 20%;
    height: 100%;
    position: relative;
    flex: 1;
    outline: 1px solid #EEE;
}


.event{
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: translate(-50%, 50%);
}

.event::before{
    content: '';
}